/.vs
/CppProperties.json
/BlackHoleSimulation/BlackHoleSimulation.sln
/BlackHoleSimulation/BlackHoleSimulation/BlackHoleSimulation.vcxproj.user
/BlackHoleSimulation/BlackHoleSimulation/BlackHoleSimulation.vcxproj.filters
/BlackHoleSimulation/BlackHoleSimulation/BlackHoleSimulation.vcxproj
/BlackHoleSimulation/.vs/BlackHoleSimulation/v15
/black_hole_simulation
/BlackHoleSimulation/BlackHoleSimulation
/test.exe
/BlackHoleSimulation.pdb
/BlackHoleSimulation.ilk
/BlackHoleSimulation.exe
/.gitattributes
