# Ignored local files for jackerschott
/BlackHoleSimulation
/BlackHoleSimulation-QtFork
/make.bat

# Ignored local files for 9Strike
/.vscode

# Ignored files created by qmake
/.qmake.stash
/Makefile
/tmp
/bin
/.vs
/qtc.bat
