################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/CppProperties.json
/BlackHoleSimulation/BlackHoleSimulation.sln
/BlackHoleSimulation/BlackHoleSimulation/BlackHoleSimulation.vcxproj.user
/BlackHoleSimulation/BlackHoleSimulation/BlackHoleSimulation.vcxproj.filters
/BlackHoleSimulation/BlackHoleSimulation/BlackHoleSimulation.vcxproj
/BlackHoleSimulation/.vs/BlackHoleSimulation/v15
